h1 {
    text-align: center;
    text-decoration: underline double;
    font-size: 30px;
    font-family: tahoma;
}

.container {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* align-items: center; */
    gap: 50px;
}


.q1 {
    border: 2px solid black;
    width: auto;
    height: 100px;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}

.hhh {
    font-size: 30px;
    font-weight: bolder;
    color: purple;
    font-family: tahoma;
    text-decoration: underline black 0.5px;
}


button {
    padding: 5px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: none;
    transition: all 0.5s ease ease-in-out;
    font-size: 10px;
}

button:active{
    background-color: white;
    color: black;
}
